.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: var(--background);
}

.content {
  display: flex;
  flex-direction: row;
  flex: 1;

  overflow-x: auto;
  scroll-behavior: smooth !important;

  width: 100%;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 30vw;
  min-width: 320px;
}

.content h1 {
  font-weight: 900;
  font-size: 3rem;
}

.content h2 {
  font-weight: normal;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
}

.divider {
  width: 100%;
  height: 2px;
  background-color: var(--text);
  opacity: 0.8;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex: 1;

  margin-left: 3rem;
  gap: 30rem;
}

.row:first-child {
  margin-left: 30rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.row:last-child {
  margin-left: 60rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.contact {
  margin-left: 2rem;
  min-width: 300px;
  margin-right: 50vw;
}

.contact a {
  color: var(--accent);
}

.contact a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 750px) {
  .content {
    padding-top: 56px;
  }
}
