.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.description {
  max-width: 512px;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.content p {
  white-space: pre-wrap;
  min-width: 20vw;
  max-width: 30vw;
}

@media screen and (max-width: 750px) {
  .content {
    flex-direction: column;
    gap: 3rem;
  }

  .container h2 {
    padding-top: 112px;
  }

  .content p {
    max-width: 100%;
  }
}
